*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

:root {
  /* --- PALETA OFICIAL 5 SEASONS --- */
  --verde-escuro: #486d66;
  --verde-claro: #97b7b1;
  --verde-vivo: #34d399;
  --beje-escuro: #d1b39d;
  --beje-claro: #e8dad1;
  --beje-gelo: #fff6f2;
  --branco-gelo: #fffaf8;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}